html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    // overflow-x: hidden;
    
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
  }
  
//   body {
//     background-color: #0c0c1d;
//     color: lightgray;
//     // overflow-x: hidden;
//   }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  section {
    width: 100%;
    scroll-snap-align: center;
    overflow: hidden;
  
    // Default height for large screens
    height: 100vh;
    min-height: 600px; // Adjust as needed
  
    // Media query for smaller screens
    @media (max-width: 768px) { // Adjust breakpoint as needed
      height: auto; // Adjust height to content
      min-height: 50vh; // Ensures the section takes up at least half of the viewport height
      overflow-y: auto; // Allows scrolling if content overflows
    }
  }
  
  @mixin mobile {
    @media (max-width: 738px) {
      @content;
    }
  }
  @mixin tablet {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @mixin desktop {
    @media (max-width: 1366px) {
      @content;
    }
  }